---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=4413%20%E7%B6%BE%E4%B9%83,%20%E8%8A%BD%E8%A1%A3%E6%9D%91,%2030%20400-1213&key=AIzaSyC0_RK9X3zEb7ZLSl0WTcSX2gX1uF6a9to&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 08 Jun 2024 15:01:55 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&fields=&key=AIzaSyC0_RK9X3zEb7ZLSl0WTcSX2gX1uF6a9to&language=ja&placeid=753
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "error_message" : "Invalid request. Invalid 'placeid' parameter.",
           "html_attributions" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Sat, 08 Jun 2024 15:01:55 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&fields=&key=AIzaSyC0_RK9X3zEb7ZLSl0WTcSX2gX1uF6a9to&language=ja&placeid=non_existing_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "error_message" : "Invalid request. Invalid 'placeid' parameter.",
           "html_attributions" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Sat, 08 Jun 2024 15:01:55 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=48788%20%E5%B1%B1%E7%94%B0,%20%E7%B6%BE%E4%B9%83%E6%9D%91,%2031%20612-0841&key=AIzaSyC0_RK9X3zEb7ZLSl0WTcSX2gX1uF6a9to&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Kyoto
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"612-0841\",\n
        \              \"short_name\" : \"612-0841\",\n               \"types\" :
        \n               [\n                  \"postal_code\"\n               ]\n
        \           },\n            {\n               \"long_name\" : \"Fukakusa Okamedani
        Higashikyuhojicho\",\n               \"short_name\" : \"Fukakusa Okamedani
        Higashikyuhojicho\",\n               \"types\" : \n               [\n                  \"political\",\n
        \                 \"sublocality\",\n                  \"sublocality_level_2\"\n
        \              ]\n            },\n [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&fields=&key=AIzaSyC0_RK9X3zEb7ZLSl0WTcSX2gX1uF6a9to&language=ja&placeid=754
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "error_message" : "Invalid request. Invalid 'placeid' parameter.",
           "html_attributions" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Sat, 08 Jun 2024 15:03:20 GMT
recorded_with: VCR 6.2.0
