<div class="mainpage-header-container">
  <div class="slide">
    <div class="slide-img"></div>
    <div class="slide-img"></div>
    <div class="slide-img"></div>
    <div class="slide-img"></div>
    <div class="slide-img"></div>
  </div>
  <div class="header-inner">
    <p class="header-inner-text">
      全国のサウナ施設をキーワードや都道府県、市区町村で検索ができる！
      <br>気に入ったサウナをお気に入りに保存！
      <br>自分だけのサウナリストを作ろう！
    </p>
    <%= render 'shared/search' %>
  </div>
</div>
