<div class="mainpage-header-container">
  <div class="slide">
    <div class="slide-img"></div>
    <div class="slide-img"></div>
    <div class="slide-img"></div>
    <div class="slide-img"></div>
    <div class="slide-img"></div>
  </div>
  <div class="header-inner">
    <%= render 'shared/search' %>
  </div>
</div>
