<% if user_signed_in? && post.review_likes.where(user_id: current_user.id).exists? %>
  <%= link_to post_review_like_path(post), method: :delete, remote: true, class: 'unlike-button' do %>
    <i class="far fa-heart unlike-btn"></i>
  <%end%>
<% elsif user_signed_in? %>
  <%= link_to post_review_like_path(post), method: :post, remote: true, local: false, class: 'like-button' do %>
    <i class="far fa-heart like-btn"></i>
  <%end%>
<% else %>
  <%= button_to post_review_like_path(post), method: :post, remote: true, class: 'like-button' do %>
    <i class="far fa-heart like-btn"></i>
  <%end%>
<% end %>
<span class="like-count"><%= post.review_likes.count %></span>
