.facilityーlist-warapper{
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 150px;
}

.search-contents{
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-contents{
  display: flex;
  justify-content: center;
  margin: 50px;
}

.facility-lists{
  margin-left: 40px;
  height: 500px;
  overflow: auto;
}

.facility-lists td{
  border-bottom: 1px solid #000;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.facility-name{
  font-size: 1.2rem;
}

.map {
  height: 400px;
  width: 600px;
}

.detail-btn{
  font-size: 1.0rem;
  padding: 5px 10px 5px 10px;
  background-color: #fa0;
}

.review-btn{
  font-size: 1.0rem;
  padding: 5px 10px 5px 10px;
  background-color: black;
}

@media screen and (max-width: 1024px){
  .search-contents{
    width: 100%;
  }

  .list-contents {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .facility-lists {
    margin-left: 0;
    margin-top: 10px;
  }

  .map {
    height: 300px;
    width: 600px;
  }
}

@media screen and (max-width: 540px){
  .search-contents{
    width: 100%;
    margin-top: -30px;
  }

  .map{
    height: 300px;
    width: 300px;
  }

  .facility-name{
    font-size: 0.7rem;
    padding: 5px;
  }

  .detail-btn{
    width: 85px;
  }

  .review-btn{
    width: 65px;
  }
}
