.review-container {
  margin: 20px auto;
  max-width: 700px;
  padding: 10px;
  border-radius: 8px;
}

.review-contents ul {
  padding: 0;
  margin: 0;
}

.post-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #f5f8fa;
  border: 2px solid #e1e8ed;
  position: relative;
}

.post-item:last-child {
  border-bottom: none;
}

.post-time {
  color: #657786;
  font-size: 12px;
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-review {
  font-size: 16px;
  margin-bottom: 10px;
  width: 500px;
  height: 70px;
  overflow: auto;
}

.post-place-name {
  color: #1da1f2;
  font-size: 14px;
}

.like-section {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.like-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.like-btn {
  font-size: 20px;
}

.unlike-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.unlike-btn {
  font-size: 20px;
}

.like-count{
  padding: 8px;
  font-size: 1.0rem;
}

@media (max-width: 540px){
  .post-title{
    font-size: 0.8rem;
  }
  .post-review{
    width: 250px;
    height: 70px;
    font-size: 0.7rem;
  }
}
