.mainpage-header-container{
  position: relative;
  /* height: 100vh; */
}

.top-img{
  width: 100%;
}
.slide {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: anime 30s 0s infinite;
}

.slide-img:nth-child(1) {
  background-image: url(sauna-room.jpg);
  animation-delay: -2s;
}

.slide-img:nth-child(2) {
  background-image: url(sauna-room2.jpg);
  animation-delay: 6s;
}

.slide-img:nth-child(3) {
  background-image: url(sauna-room3.jpg);
  animation-delay: 12s;
}

.slide-img:nth-child(4) {
  background-image: url(sauna-room4.jpg);
  animation-delay: 18s;
}

.slide-img:nth-child(5) {
  background-image: url(sauna-room5.jpg);
  animation-delay: 24s;
}

.scroll-container{
  position: absolute;
  top: 720px;
  right: 700px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

.scroll-text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

.header-inner{
  position: absolute;
  top: 320px;
  right: 600px;
}

.area-search-container{
  height: 400px;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
